doctype html
html
  head
    title=title 
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1=title 
    table(border='2')
      tbody
        tr
          th 번호
          th 제목
          th 글쓴이
          th 조회수
          th 수정일
        - for (var i = 0; i < rows.length; ++i) {
          tr
            td #{rows[i].idx}
            td #{rows[i].title}
            td #{rows[i].writer}
            td #{rows[i].hit}
            td #{rows[i].moddate}
        - }

