doctype html
html(xmlns='https://www.w3.org/1999/html')
  head
    title=title 
    link(rel='stylesheet' href='/stylesheets/style.css')
    - var read = rows[0]
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body
    h1=title 
    form(method='post' action='/board/update/#{read.idx}' onsubmit='onWriteSubmit()') 
      table(border='2')
        tbody
            tr
              th 번호
              td #{read.idx}
              th 글쓴이
              td #{read.writer}
            tr 
              th 제목
              td(colspan='5') #{read.title}
            tr
            th 내용
            td 
              textarea(cols='50' role='12' name='content' id='content' required) #{read.content}
            tr 
            td(colspan='2')
                input(type='submit' value='수정')
    script.
        function onWriteSubmit()
        {
        if ( $("#writer").val().trim() == "" )
        {
        var message = "아이디를 입력해 주세요";
        $("#writer").val("");
        $("#writer").focus();
        alert(message);
        return false;
        }
        if ( $("#title").val().trim() == "" )
        {
        var message = "제목을 입력해 주세요";
        $("#title").val("");
        $("#title").focus();
        alert(message);
        return false;
        }
        if ( $("#content").val().trim() == "" )
        {
        var message = "본문 내용을 입력해 주세요";
        $("#content").val("");
        $("#content").focus();
        alert(message);
        return false;
        }
        if ( $("#password").val().trim() == "" )
        {
        var message = "패스워드를 입력해 주세요";
        $("#password").val("");
        $("#password").focus();
        alert(message);
        return false;
        }
        }
          
        

